<template>
  <section class="search-funnel">

    <div class="search-funnel__steps-block">
      <div class="search-funnel__header">
        <div>
          <h2 class="heading">
            {{ title[0] }}
          </h2>
          <h2 class="heading heading--orange">
            {{ title[1] }}<span class="uncolor-dot">.</span>
          </h2>
        </div>
        <ul class="stepper" v-if="stepNumber <= 5">
          <li v-for="n in 5" :key="n"
              :class="['stepper__step-item', {'stepper__step-item--highlighted': n <= stepNumber, 'stepper__step-item--selected': n === stepNumber}]">
            <span class="stepper__title">
              Step {{ n }}
            </span>
            <span class="stepper__dot"></span>
          </li>
        </ul>
      </div>
      <div class="search-funnel__steps-inner">
        <component :is="`step${toUpperFirst(selectedStep)}`"></component>
      </div>
      <div class="search-funnel__footer">
        <div class="search-funnel__button-wrapper">
          <button v-if="stepNumber !== 1" @click="stepNumber = stepNumber - 1" class="search-funnel__bottom-button">
            <span></span>
            <span></span>
          </button>
          <span v-if="stepNumber !== 1">
            Previous
          </span>
        </div>

        <div
            :class="['search-funnel__button-wrapper', {'search-funnel__button-wrapper--skip': nextSkippable, 'search-funnel__button-wrapper--disabled': nextDisabled}]">
          {{ nextSkippable ? 'Skip' : 'Next' }}
          <button @click="stepNumber = stepNumber + 1"
                  class="search-funnel__bottom-button search-funnel__bottom-button--next">
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import upperFirst from 'lodash/upperFirst'
import {stepsIdentity, stepType, stepsTitle} from "@/store/search";

import stepFirst from "@/components/containers/searchFunnel/steps/stepFirst.vue";
import stepSecond from "@/components/containers/searchFunnel/steps/stepSecond.vue";
import stepThird from "@/components/containers/searchFunnel/steps/stepThird.vue";
import stepFourth from "@/components/containers/searchFunnel/steps/stepFourth.vue";
import stepFifth from "@/components/containers/searchFunnel/steps/stepFifth.vue";
import stepOutput from "@/components/containers/searchFunnel/steps/output.vue";

Vue.component('stepFirst', stepFirst)
Vue.component('stepSecond', stepSecond)
Vue.component('stepThird', stepThird)
Vue.component('stepFourth', stepFourth)
Vue.component('stepFifth', stepFifth)
Vue.component('stepOutput', stepOutput)

@Component({
  components: {},
})
export default class searchFunnel extends Vue {

  get selectedStep() {
    return this.$store.state.search.step
  }

  get title() {
    return stepsTitle[this.stepNumber].split('@')
  }

  toUpperFirst(v: string) {
    return upperFirst(v)
  }

  readonly skippableSteps = [3]

  get nextSkippable() {
    const store = this.$store.state.search
    switch (this.stepNumber) {
      case 3:
        return !store.thirdStepItems.some(({selected}: {selected: boolean}) => selected)
    }

    return false
  }

  get nextDisabled() {
    const store = this.$store.state.search

    switch (this.stepNumber) {
      case 1:
        return store.selectedCause === -1 || store.problemTitle === ''
      case 2:
        return store.parameterToPreserve === ''
      case 3:
        return !store.thirdStepItems.length
      case 4:
        return store.technologies.every(({selected}:{selected: boolean}) => !selected)
    }

    return false
  }

  get stepNumber() {
    // @ts-ignore
    return stepsIdentity[this.selectedStep]
  }

  set stepNumber(v: number) {
    const store = this.$store.state.search
    const go = () => this.$store.dispatch('search/changeStep', v)
    const actualStep = stepsIdentity[store.step]

    if (typeof actualStep === 'number' && v < (actualStep)) {
      go()
    }

    if (!this.nextDisabled) {
      go()
    }
  }

}
</script>