<template>
  <div class="help">
    <h1 class="heading help__heading">Help <span class="heading--orange">Guide</span>.</h1>
    <parameters-table></parameters-table>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import parametersTable from "@/components/containers/help/parametersTable.vue";

@Component({
  components: {
    parametersTable
  },
})
export default class help extends Vue {
}
</script>