<template>
  <div></div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class howSelectVideoBlock extends Vue {
}
</script>