<template>
  <div class="help__table-wrapper">
    <h6 class="title help__title">
      What Are The <b>Technical Contradiction Parameters:</b>
    </h6>
    <vue-good-table
        :columns="columns"
        ref="theTable"
        styleClass="vgt-table help__table"
        :rows="rows"
    >

    </vue-good-table>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import tableData from './tableData.json'

@Component({
  components: {},
})
export default class parametersTable extends Vue {
  get rows() {
    return Object.entries(tableData).map(([key, value], index) => ({
      number: `${index + 1}.`,
      parameter: key,
      explanation: value
    }))
  }

  get columns() {
    return [
      {
        label: 'Sr.No.',
        field: 'number',
        width: '50px',
        tdClass: "help__table-cell help__table-cell--first",
        sortable: false
      },

      {
        label: 'Parameter',
        field: "parameter",
        width: '300px',
        tdClass: "help__table-cell help__table-cell--second",
        sortable: false
      },

      {
        label: 'Explanation',
        field: "explanation",
        width: '600px',
        thClass: "",
        tdClass: "help__table-cell help__table-cell--third",
        sortable: false
      },
    ]
  }
}
</script>