<template>
  <div>
    output
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class outputStep extends Vue {
}
</script>