<template>
  <div>
    5
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class stepFifth extends Vue {
}
</script>