<template>
  <div>
    <div class="search-funnel__step-head search-funnel__step-head--first">
      <span class="search-funnel__red-line"></span>
      <p>Select the technical contradiction parameters related to your problem to discover possible ways of ideation</p>
    </div>
    <div class="fish-bones" ref="fishBones">
      <div class="fish-bones__wrapper">
        <div class="fish-bones__title">
          <span class="fish-bones__placeholder" v-if="!title">Define the problem To be solved</span>
          <span class="fish-bones__textarea" role="textbox" contenteditable @input="inputTitle" ref="title"></span>
        </div>
        <div
            :class="['fish-bones__pares','fish-bones__pares--small' , {'fish-bones__pares--path': selectedCause !== -1}]">
          <div class="fish-bones__pare fish-bones__pare--small"></div>
        </div>
        <div v-for="(pare, pareIndex) in items" :key="'pare' + pareIndex"
             :class="['fish-bones__pares', {'fish-bones__pares--path': pareIndex + pareIndex + 2 <= selectedCause}]">
          <button
              @click="toggleTwoCauses"
              v-if="pareIndex === 2"
              class="fish-bones__two-more-button fish-bones__two-more-button--remove"
          ></button>
          <div
              v-for="(cause, causeIndex) in pare"
              :key="'cause' + causeIndex"
              :class="['fish-bones__pare', {'fish-bones__pare--disabled': (pareIndex === 0 && causeIndex === 0) ? false : !causesData[pareIndex * 2 + causeIndex - 1].cause, 'fish-bones__pare--higher': causeIndex === 0, 'fish-bones__pare--lower': causeIndex === 1, 'fish-bones__pare--selected': causeIndex + pareIndex * 2 === selectedCause}]"
          >
            <div :class="['fish-bones__cause']" :title="cause.cause">
            <span @click="(e) => setEditableItem(cause.cause, pareIndex * 2 + causeIndex)(e)">
              {{ cause.cause || `Enter Cause ${pareIndex * 2 + causeIndex + 1}` }}
            </span>
              <label class="fish-bones__select-cause" v-if="cause.cause && cause.subCauses.some(sc => sc)">
                <input

                    type="radio"
                    name="selectedCause"
                    :value="pareIndex * 2 + causeIndex" v-model="selectedCause"
                >
                <span class="checkmark"></span>
                <span class="fish-bones__select-span">{{
                    pareIndex * 2 + causeIndex === selectedCause ? 'Cause Selected' : 'Select this cause'
                  }}</span>
              </label>

            </div>
            <div class="fish-bones__sub-causes-wrapper">
              <ul class="fish-bones__sub-causes">
                <li :class="['fish-bones__sub-cause-item', {'fish-bones__sub-cause-item--disabled': !cause.cause, 'fish-bones__sub-cause-item--empty': !sub}]"
                    v-for="(sub, index) in cause.subCauses" :key="'sub' + index" :title="sub">
                <span
                    @click="(e) => setEditableItem(cause.subCauses[index], cause.cause ? pareIndex * 2 + causeIndex : -1, index)(e)">
                  {{ sub || `Enter Sub Cause ${index + 1}` }}
                </span>
                  <div class="fish-bones__sub-cause-buttons">
                    <button class="fish-bones__sub-cause-button fish-bones__sub-cause-button--add"
                            v-if="sub && (index === 0 && cause.subCauses.length === 1 || index === 1 && cause.subCauses.length === 2)"
                            @click="addRemoveSubCause(cause)"
                    ></button>
                    <button class="fish-bones__sub-cause-button fish-bones__sub-cause-button--remove"
                            v-if="[1, 2].includes(index)" @click="addRemoveSubCause(cause, index)"
                    ></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <span v-if="pareIndex === 2" class="fish-bones__last-tail"></span>
        </div>
        <div class="fish-bones__pares fish-bones__pares--small" v-if="shouldAddCauses">
          <button @click="toggleTwoCauses"
                  class="fish-bones__two-more-button fish-bones__two-more-button--add"></button>
          <div class="fish-bones__pare fish-bones__pare--small"></div>
        </div>
      </div>
      <div v-if="editableItem[0] !== -1" class="fish-bones__edit-cause-popup"
           :style="{top: popupPos[0] + 'px', left: popupPos[1] + 'px'}">
        <textarea :value="editableItemValue" @input="setEditableItemValue" ref="editArea"></textarea>
        <div>
        <span>
          {{ editableItemValue.match(/\w+/g) ? editableItemValue.match(/\w+/g).length : 0 }}
          /
          {{ maxWordsCount }}
        </span>
          <button @click="confirmEditing">ok</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {cause} from "@/store/search";
import {ResizeSensor} from "css-element-queries";

@Component({
  components: {},
})
export default class stepFirst extends Vue {
  editableItemValue = ''
  editableItem = [-1, -1]
  popupHeight = 250
  styleCoords = [70, 320]
  popupPos = [0, 0]
  readonly maxWordsCount = 40

  setEditableItemValue(e: InputEvent) {
    if (!e.target) return
    const value = (e.target as HTMLTextAreaElement).value
    const splitValue = value.split(' ')
    if (splitValue.length <= this.maxWordsCount) {
      e.preventDefault()
      this.editableItemValue = value
    } else {
      (e.target as HTMLTextAreaElement).value = this.editableItemValue
    }
  }

  get selectedCause() {
    return this.$store.state.search.selectedCause
  }

  set selectedCause(v: number) {
    this.$store.commit('search/setSelectedCause', v)
  }

  setEditableItem(value: string, cause: number, subCause: number = -1) {
    this.editableItemValue = value
    this.editableItem = [cause, subCause]
    setTimeout(() => {
      if (this.$refs.editArea) {
        (this.$refs.editArea as HTMLTextAreaElement).focus()
      }
    })

    return (e: MouseEvent) => {
      const nextY = e.pageY - this.styleCoords[0]
      const nextX = e.pageX - this.styleCoords[1]

      this.popupPos = [cause % 2 ? nextY - this.popupHeight - 50 : nextY, nextX]
    }
  }

  confirmEditing() {
    const [causeIndex, subCauseIndex] = this.editableItem
    if (subCauseIndex !== -1) {
      this.causesData[causeIndex].subCauses[subCauseIndex] = this.editableItemValue
    } else {
      this.causesData[causeIndex].cause = this.editableItemValue
    }
    this.editableItemValue = ''
    this.editableItem = [-1, -1]
    this.$store.dispatch('search/saveCausesData', this.causesData)
  }

  get title() {
    return this.$store.state.search.problemTitle
  }

  set title(v: string) {
    this.$store.commit('search/setProblemTitle', v)
  }

  inputTitle(e: Event) {
    this.title = (e.target as HTMLSpanElement).innerText
  }

  causesData: cause[] = [
    {cause: '', subCauses: ['']},
    {cause: '', subCauses: ['']},
    {cause: '', subCauses: ['']},
    {cause: '', subCauses: ['']},
  ]

  iMounted = false

  resizeFish() {
    const fishBonesRef: HTMLDivElement = this.$refs.fishBones as HTMLDivElement
    const higher = fishBonesRef.querySelectorAll('.fish-bones__pare--higher')

    const pareWidth = higher[0].clientWidth / 2
    const pareHeight = higher[0].clientHeight - 20
    const heightOfConnectionLine = Math.ceil(Math.sqrt(pareWidth * pareWidth + pareHeight * pareHeight))

    const maxHalfWidth = 190
    const limitWhereDegreesChanges = 240
    const maxDegreesLowerLimit = 49
    const maxDegreesHigherLimit = 46.5
    const maxDegrees = 44
    let currentDegree = ((pareWidth * (heightOfConnectionLine > limitWhereDegreesChanges ? maxDegreesHigherLimit : maxDegreesLowerLimit)) / maxHalfWidth)
    currentDegree = currentDegree > maxDegrees ? maxDegrees : currentDegree

    const subCausesListsTop = fishBonesRef.querySelectorAll('.fish-bones__pare--higher .fish-bones__sub-causes')
    const subCausesTop = fishBonesRef.querySelectorAll('.fish-bones__pare--higher .fish-bones__sub-causes .fish-bones__sub-cause-item')

    subCausesListsTop.forEach(list => {
      (list as HTMLUListElement).style.height = heightOfConnectionLine + 'px';
      (list as HTMLUListElement).style.transform = `rotate(-${currentDegree}deg)`
    })

    subCausesTop.forEach(list => {
      (list as HTMLUListElement).style.transform = `rotate(${currentDegree}deg)`
    })

    const subCausesListsBottom = fishBonesRef.querySelectorAll('.fish-bones__pare--lower .fish-bones__sub-causes')
    const subCausesBottom = fishBonesRef.querySelectorAll('.fish-bones__pare--lower .fish-bones__sub-causes .fish-bones__sub-cause-item')

    subCausesListsBottom.forEach(list => {
      (list as HTMLUListElement).style.height = heightOfConnectionLine + 'px';
      (list as HTMLUListElement).style.transform = `rotate(${currentDegree}deg)`
    })

    subCausesBottom.forEach(list => {
      (list as HTMLUListElement).style.transform = `rotate(-${currentDegree}deg)`
    })
  }

  mounted() {
    this.causesData = this.$store.state.search.causesData
    this.iMounted = true;
    (this.$refs.title as HTMLSpanElement).innerText = this.title
    const fishBonesRef: HTMLDivElement = this.$refs.fishBones as HTMLDivElement

    if (!this.resizeSencor && fishBonesRef) {
      this.resizeSencor = new ResizeSensor((fishBonesRef as HTMLDivElement), () => {
        this.resizeFish()
      })
    }
  }

  resizeSencor: null | {} = null


  @Watch('causesData', {immediate: true, deep: true}) causesDataChanged(v: cause[]) {
    if (this.iMounted) {
      this.$store.dispatch('search/saveCausesData', v)
    }
  }

  get shouldAddCauses() {
    return this.causesData.length === 4
  }

  toggleTwoCauses() {
    if (this.shouldAddCauses) {
      this.causesData.push({cause: '', subCauses: ['']}, {cause: '', subCauses: ['']})
      this.$nextTick(() => {
        this.resizeFish()
      })
    } else {
      this.causesData.splice(4, 2)
    }
  }

  addRemoveSubCause(cause: cause, index?: number) {
    if (index) {
      cause.subCauses.splice(index, 1)
    } else {
      cause.subCauses.push('')
    }
    this.$nextTick(() => {
      this.resizeFish()
    })
  }

  get items() {
    //@ts-ignore
    return this.causesData.reduce((accum, item, index) => {
      let next: cause[][] = [...accum]
      if (index % 2 === 1 && Array.isArray(next[next.length - 1])) {
        next[next.length - 1].push(item)
      } else {
        next = [...next, [item]]
      }
      return next
    }, [])
  }

}
</script>