<template>
  <div>
    <div class="search-funnel__fourth-header">
      <div class="search-funnel__step-head">
        <p>
          <span class="search-funnel__info-mark">i</span>Maximum of <span class="orange">{{ maxSelectedItems }}</span>
          areas can be selected.
        </p>
      </div>
      <div class="search-funnel__step-head search-funnel__step-head--fourth-step">
        <span class="search-funnel__red-line"></span>

        <div>
          <p>
            <b class="orange">Supervise</b>
          </p>
          <p>
            the Machine by Selecting the <b>Major Technology Fields.</b>
          </p>
          <p>
            <b><span class="orange">Note: </span>Highly Recommended for the system to provide better analysis.</b>
          </p>
        </div>
      </div>
    </div>
    <div class="search-funnel__main search-funnel__main--fourth-step">
      <ul class="search-funnel__technology-list">
        <li v-for="t in technologies" :key="t.id"
            :class="['search-funnel__technology-item', {'search-funnel__technology-item--selected': t.selected}]"
            @click="setSelected(t.id)">
          <img :src="getImgUrl(t.id)" :alt="t.name">
          {{ t.name }}
        </li>
      </ul>
      <span class="search-funnel__step-divider search-funnel__step-divider--fourth"></span>
      <ul class="search-funnel__technology-fields">
        <li v-for="f in technologyFields" :key="f.classCode">
          <label>
            <input type="checkbox" name="technologyFields" :checked="f.selected" @click="selectField(f.classCode)">
            <span v-b-tooltip.hover.html="'Classification Name :<br><b> ' + f.classCode+'</b>'">{{f.text}}</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getTechnologies, getTechnologiesFields} from "@/api/search";
import {technology} from "@/store/search";

@Component({
  components: {},
})
export default class stepFourth extends Vue {
  readonly maxSelectedItems = 4

  get technologies() {
    return this.$store.state.search.technologies
  }

  set technologies(v: technology[]) {
    this.$store.commit('search/setTechnologies', v)
  }

  setSelected(id: number) {
    const next = [...this.technologies]
    const index = next.findIndex(({id: i}) => i === id)
    if (this.technologies.filter(({selected}) => selected).length >= this.maxSelectedItems) {
      if (next[index].selected) {
        next[index].selected = false
      }
    } else {
      next[index].selected = !next[index].selected
    }

    this.technologies = next
  }

  selectField(code: number) {
    const next = [...this.technologyFields]
    const index = next.findIndex(({classCode: i}) => i === code)

    next[index].selected = !next[index].selected

    this.technologyFields = next
  }

  getImgUrl(id: number) {
    const images = require.context('@/assets/images/technologies', false, /\.png$/)
    return images('./' + id + ".png")
  }

  get technologyFields() {
    return this.$store.state.search.technologyFields
  }

  set technologyFields(v) {
    this.$store.commit('search/setTechnologiesFields', v)
  }

  mounted() {
    if (!this.technologies.length) {
      getTechnologies()
    }
    if (!this.technologyFields.length) {
      getTechnologiesFields()
    }
  }
}
</script>