<template>
  <div>
    <div class="search-funnel__step-head">
      <span class="search-funnel__red-line"></span>
      <p>Select the technical contradiction parameters related to your problem to discover possible ways of ideation</p>
    </div>
    <div class="search-funnel__step-head">
      <span class="search-funnel__question-mark">?</span>
      <p>Need help in selecting technical contradiction parameters? <router-link to="/help" target="_blank"
                                                                       class="search-funnel__link">View Help Guide</router-link>
      </p>
    </div>
    <div class="search-funnel__main search-funnel__main--second-step">
      <div class="search-funnel__select-wrapper">
        <h3 class="title">
          Select Parameter To Improve<span class="uncolor-dot--red">.</span>
        </h3>
        <custom-select :label="'Parameter To Improve'" :options="toImproveOptions" :value="toImprove" @change="toImproveChanged"></custom-select>

      </div>
      <span class="search-funnel__step-divider search-funnel__step-divider--second"></span>
      <div :class="['search-funnel__select-wrapper', {
        'search-funnel__select-wrapper--disabled': !toPreserveOptions || !toPreserveOptions.length,
        'search-funnel__select-wrapper--loading': !toPreserveOptions || !toPreserveOptions.length
      }]">
        <h3 class="title">
          Select Parameter To Preserve<span class="uncolor-dot--red">.</span>
        </h3>
        <custom-select :label="'Parameter To Preserve'" :options="toPreserveOptions" :value="toPreserve" @change="toPreserveChanged"></custom-select>

      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {parametersToImprove} from "@/store/search";

const emptyToImprove = 'Select*'

@Component({
  components: {},
})
export default class stepSecond extends Vue {

  get toImprove() {
    const t = this.$store.state.search.parameterToImprove
    return t === -1 ? emptyToImprove : parametersToImprove[t]
  }

  get toPreserve() {
    return this.$store.state.search.parameterToPreserve || 'Select*'
  }

  get toImproveOptions() {
    return Object.values(parametersToImprove).filter(c => typeof c !== 'number').sort(() => 1)
  }

  get toPreserveOptions() {
    const t = this.$store.state.search.parameterToImprove
    return t === -1 ? [] : this.$store.state.search.fetchedParametersToPreserve[this.toImprove]
  }

  toImproveChanged(v: any) {
    this.$store.dispatch('search/setParameterToImprove', {id: parametersToImprove[v]})
  }

  toPreserveChanged(v: string) {
    this.$store.commit('search/setParameterToPreserve', v)
  }

  mounted() {
    if (this.toImprove !== emptyToImprove) {
      this.$store.dispatch('search/setParameterToImprove', {id: parametersToImprove[(this.toImprove as any)], shouldClearPreserve: false})
    }
  }

}
</script>