<template>
  <div>
    <div class="search-funnel__third-header">
      <div class="search-funnel__step-head">
        <span class="search-funnel__red-line"></span>
        <div>
          <p>Supervise the ideation by selecting</p>
          <p>the Key-features containing the most important limitation</p>
        </div>
      </div>
      <div class="search-funnel__step-head search-funnel__step-head--third-step-input">
        <div >
          <input type="text" placeholder="Add key features here" class="search-funnel__add-key-input"
                 v-model="addQuery">
          <button class="search-funnel__add-key-button" @click="addItem">Add</button>
        </div>
        <button class="search-funnel__refresh-button" @click="refresh" v-b-tooltip.hover title="Reset all changes">Refresh</button>
      </div>
    </div>
    <ul class="search-funnel__third-list">
      <li v-for="item in items" :key="item.id"
          :class="['search-funnel__third-list-item', {'search-funnel__third-list-item--selected': item.selected}]">
        <i @click="itemClick(item.id)"></i>
        <textarea v-if="editingItem === item.id" v-model="editingItemValue"></textarea>
        <p v-else>{{ item.text }}</p>
        <b-icon-check @click="editItem(item)" v-if="editingItem === item.id"></b-icon-check>
        <b-icon-pencil @click="editItem(item)" v-else></b-icon-pencil>
        <b-icon-trash @click="deleteItem(item.id)" v-if="items.length > 3"></b-icon-trash>
      </li>
    </ul>
    <div class="search-funnel__notes">
      <p>
        <span class="orange">Note: </span>Highly Recommended for the system to provide better analysis.
      </p>
      <p>
        <span class="search-funnel__info-mark">i</span>Maximum <span class="orange">{{ maxSelectedItems }}</span> selections are allowed.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {thirdStepItem} from "@/store/search";

@Component({
  components: {},
})
export default class stepThird extends Vue {

  addQuery = ''

  readonly maxSelectedItems = 3
  readonly maxPossibleItems = 10

  editingItem = -1
  editingItemValue = ''

  editItem(item: thirdStepItem) {
    if (this.editingItem === item.id) {
      //save
      let next = [...this.items]
      const index = next.findIndex(({id: i}) => i === item.id)
      next[index].text = this.editingItemValue
      this.$store.commit('search/setThirdStepItems', next)
      this.editingItem = -1
      this.editingItemValue = ''
    } else {
      this.editingItem = item.id
      this.editingItemValue = item.text
    }
  }

  deleteItem(id: number) {
    let next = [...this.items]
    const index = next.findIndex(({id: i}) => i === id)
    next.splice(index, 1)
    this.$store.commit('search/setThirdStepItems', next)
  }

  itemClick(id: number) {
    let next = [...this.items]
    const index = next.findIndex(({id: i}) => i === id)
    if (this.selectedItems.length !== this.maxSelectedItems && !next[index].selected) {
      next[index].selected = !next[index].selected
    } else {
      next[index].selected = false
    }
    this.$store.commit('search/setThirdStepItems', next)
  }

  addItem() {
    if (this.addQuery && this.items.length < this.maxPossibleItems) {
      this.$store.commit('search/setThirdStepItems', [...this.items, {text: this.addQuery, selected: false, id: Date.now() + Math.random() * 1000}])
      this.addQuery = ''
    }
  }

  get items() {
    return (this.$store.state.search.thirdStepItems as thirdStepItem[])
  }

  get selectedItems() {
    return this.items.filter(({selected}) => selected)
  }

  get restItems() {
    return this.items.filter(({selected}) => !selected)
  }

  refresh() {
    this.$store.commit('search/setThirdStepItems', [])
    this.$store.dispatch('search/getThirdStepData')
  }

  async mounted() {
    if (this.$store.state.search.causesDataChanged) {
      this.$store.commit('search/setThirdStepItems', [])
      this.$store.dispatch('search/getThirdStepData')
    }
  }
}
</script>