.fish-bones {
  overflow-y: hidden;
  padding: 30px 0 50px;

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  &__edit-cause-popup {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $white;
    @include shadow();
    z-index: 2;
    @include borderRadius;
    top: 0;
    position: fixed;

    textarea, button {
      @include borderRadius;
    }

    textarea {
      margin-bottom: 10px;
      resize: none;
      outline: none;
      padding: 5px;
      height: 100%;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $redClay;
    }

    button {
      border: 2px solid $redClay;
      color: $redClay;
      cursor: pointer;
    }
  }

  &__title {
    max-width: 190px;
    width: 100%;
    min-height: 350px;
    background-color: rgba($grey, 0.05);
    box-shadow: 0px 0px 15px -12px #060606;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 5px;
    @include borderRadius;
  }

  &__textarea {
    display: block;
    width: 90%;
    overflow: hidden;
    resize: none;
    min-height: 50px;
    line-height: 20px;
    max-height: 100%;
    border-bottom: 1px solid $grey;
    outline: none;
  }

  &__placeholder {
    position: absolute;
    pointer-events: none;
    width: 90%;
    opacity: 0.7;
  }


  &__pares {
    width: 100%;
    max-width: 370px;
    min-width: 102px;
    position: relative;

    &--small {
      max-width: 26px;
    min-width: 26px;
      margin-top: 24px;
      display: flex;
      align-items: center;
    }

    &--path {
      .fish-bones__pare:first-child {
        border-bottom: 3px solid $redClay;
      }
    }
  }

  &__cause {
    cursor: pointer;
    border-bottom: 2px dashed $redClay;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: $redClay;
    z-index: 2;
    margin-bottom: -3px;
    span{
      max-height: 21px;
      overflow: hidden;
    }
  }

  &__sub-causes-wrapper {
    height: 196px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__sub-causes {
    border-right: 2px dashed $redClay;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    height: 277px;
    width: 49%;
    transform: rotate(-45deg);
    transform-origin: top right;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__sub-cause-item {
    cursor: pointer;
    border-bottom: 2px dashed $grey;
    transform: rotate(45deg);
    transform-origin: right bottom;
    margin: 20px 0;

    &--empty {
      color: $firstNote;
    }

    &--disabled {
      opacity: 0.5;
    }

    span {
      max-height: 21px;
      overflow: hidden;
      display: block;
    }
  }

  &__sub-cause-buttons {
    position: absolute;
    right: -57px;
    top: 6px;
    display: flex;
    width: 73px;
    justify-content: space-between;
  }

  &__sub-cause-button, &__two-more-button {
    cursor: pointer;
    outline: none;
    border: 1px solid $grey;
    border-radius: 50%;
    color: $grey;
    font-size: 40px;
    font-weight: 300;
    min-width: 34px;
    height: 34px;
    padding: 0;
    position: relative;
    @include flexible();
    background-color: $white;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 2px;
      border-radius: 3px;
      width: 60%;
      background-color: $grey;
      display: block;
    }

    &:before {
      transform: rotate(90deg);
    }

    &--remove {
      &:before {
        position: absolute;
        content: none;
      }

    }
  }

  &__two-more-button {
    position: absolute;
    border: 1px solid $redClay;

    &:before, &:after {
      background-color: $redClay;
    }

    &--remove {
      position: absolute;
      top: calc(48% + 2px);
      right: -2px;
      z-index: 2;
    }

    &--add {
      position: relative;
    }
  }

  &__sub-cause-button, &__add-two-more {
    &:before {
      transform: rotate(90deg);
    }

    &--remove {
      &:before {
        position: absolute;
        content: none;
      }

    }
  }

  &__pare {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dashed $redClay;
    display: flex;
    flex-direction: column;
    position: relative;

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &--small {
      width: 30px;
    }

    &--selected {
      .fish-bones {
        &__cause {
          border-bottom: 3px solid $poorScarlet;
        }
        &__sub-causes {
          border-right: 3px solid $redClay;
        }
        &__sub-cause-item {
          border-bottom: 3px solid $grey !important;
          margin-right: -1px;
        }
        &__sub-cause-button {
          border: 3px solid $grey;
          &:before, &:after {
            height: 3px;
          }
        }

        &__select-span {
          color: $redClay;
          font-weight: 600;
        }
      }

    }

    &--lower {
      border-bottom: none;
      flex-direction: column-reverse;

      .fish-bones {

        &__cause {
          margin-top: -24px;
          //position: absolute;
        }

        &__sub-causes-wrapper {
          justify-content: flex-end;
        }

        &__sub-causes {
          transform-origin: bottom right;
          transform: rotate(45deg);
          flex-direction: column-reverse;
        }

        &__sub-cause-item {
          border-bottom: 2px dashed $grey;
          transform: rotate(-45deg);
          transform-origin: right bottom;

          &:last-child {
            margin-top: -22px;
          }
        }
        &__select-cause {
          position: absolute;
          top: auto;
          bottom: -30px;
        }
      }
    }
  }

  &__last-tail {
    position: absolute;
    width: 50%;
    background-color: $white;
    top: calc(50% + 2px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:after {
      content: '';
      display: inline-block;
      min-width: 17px;
      height: 17px;
      background-color: $redClay;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 5px rgba(225, 53, 47, 0.37);
    }
  }

  &__select-cause {
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;

    input {
      display: none;

      &:checked ~ .checkmark {
        border: 1px solid $redClay;
        &:after {
          background-color: $redClay;
          left: 21px;
        }
      }
    }

    .checkmark {
      @include transition();
      cursor: pointer;
      display: inline-block;
      height: 15px;
      @include stableWidth(35px);
      border-radius: 35px;
      border: 1px solid $grey;
      margin-right: 5px;

      &:after {
        @include transition();
        content: '';
        display: block;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background-color: $grey;
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }

  &__select-span {
    color: $grey;
  }
}