.search-funnel {
  height: calc(100vh - #{$headerHeight});
  border-top: 1px solid transparent;
  box-sizing: border-box;
  padding-top: -1px;

  &__link {
    color: $redClay;
    font-weight: bold;
    text-decoration: none;
  }

  &__step-head {
    width: 50%;
    display: flex;

    &--third-step-input {
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      div {
        display: flex;
        margin-bottom: 10px;
      }
    }

    &--first {
      width: 100%;
    }
  }

  &__third-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;

    .search-funnel__step-head {
      width: 40%;

      p {
        margin: 0;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  $fourthStepMainHeight: 400px;

  &__fourth-header {
    display: flex;

    p {
      margin: 0;
    }
  }

  &__technology-list, &__technology-fields {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: $fourthStepMainHeight;
    overflow: auto;

  }

  &__technology-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 30px;
    padding: 20px 20px 0 0;
  }

  &__technology-fields {
    input {
      margin-right: 10px;
    }
    li label {
      cursor: pointer;
      margin: 10px 0;
    }
  }

  &__technology-item {
    border: 1px solid $firstNote;
    color: $firstNote;
    //overflow: hidden;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include borderRadius;
    cursor: pointer;
    position: relative;
    word-break: break-word;

    &--selected {
      border: 1px solid $redClay;
      background-color: rgba($redClay, 0.1);
      color: $redClay;
      &:after {
        content: '✓';
        width: 20px;
        height: 20px;
        background-color: $redClay;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -7px;
        right: -7px;
        color: $white;
      }

      img {
        opacity: 1 !important;
      }
    }

    img {
      width: 30px;
      height: auto;
      margin-right: 17px;
      margin-left: 10px;
      opacity: 0.3;
    }
  }

  $thirdListItemHeight: 86px;
  $thirdListMarginBottom: 11px;

  &__third-list {
    height: ($thirdListItemHeight * 3 + $thirdListMarginBottom * 2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    grid-column-gap: 18px;
    grid-row-gap: $thirdListMarginBottom;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 20px;
  }

  &__third-list-item {
    height: $thirdListItemHeight;
    //border: 1px solid $grey;

    @include borderRadius;

    display: flex;
    align-items: center;
    padding: 0 22px;
    box-sizing: border-box;
    border: 2px solid $grey;

    i {
      cursor: pointer;
      min-width: 28px;
      height: 28px;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-image: url('assets/images/star-thin.svg');
    }

    p {
      width: 100%;
      margin: 0 20px;
    }

    textarea {
      background-color: transparent;
      color: $grey;
      border-color: $grey;
      width: 100%;
      margin: 0 20px;
      @include borderRadius;
      height: 80%;
      padding: 10px;
      box-sizing: border-box;
      max-height: 80%;
      resize: none;
    }

    .bi-pencil {
      cursor: pointer;
      min-width: 22px;
      height: 22px;
    }

    .bi-check {
      min-width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .bi-trash {
      cursor: pointer;
      min-width: 26px;
      height: 26px;
      margin-left: 20px;
    }

    &--selected {
      background-color: $redClay;
      border-color: $redClay;
      color: $white;

      i {
        background-image: url('assets/images/star.svg');
      }

      textarea {
        background-color: transparent;
        color: $white;
        border-color: $white;
      }
    }
  }

  &__add-key-input {
    border: none;
    border-bottom: 1px solid $grey;
    color: $darkGrey;
    outline: none;
    height: 37px;
    width: 100%;
    max-width: 423px;

    &::placeholder {
      color: $grey;
    }
  }

  &__add-key-button, &__refresh-button {
    border: 2px solid $redClay;
    @include borderRadius;
    color: $redClay;
    padding: 9px 33px;
    background-color: $white;
    margin-left: 22px;
    cursor: pointer;
  }

  &__refresh-button {
    padding: 9px 21px;
  }

  &__notes {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }

  &__main {
    &--second-step {
      display: flex;
      margin-top: 104px;
      min-height: 202px;
    }

    &--fourth-step {
      display: flex;
      min-height: $fourthStepMainHeight;
      padding: 10px 0 15px;
    }
  }

  &__step-divider {
    display: block;
    width: 1px;
    background-color: $grey;
    opacity: 17%;
    min-height: 100%;

    &--second {
      margin: 0 210px;
    }
    &--fourth {
      margin: 0 50px 0 37px;
    }
  }

  &__select-wrapper {
    width: 452px;
    position: relative;

    &--disabled {
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: $white;
        opacity: 0.7;
        z-index: 2;
        top: 0;
      }
    }
  }

  &__question-mark {
    min-width: 20px;
    height: 20px;
    border: 2px solid $redClay;
    @include flexible();
    border-radius: 50%;
    color: $redClay;
    margin: 14px 26px 0 0;
  }

  &__info-mark {
    min-width: 20px;
    height: 20px;
    border: 2px solid $redClay;
    @include flexible();
    display: inline-flex;
    border-radius: 50%;
    color: $redClay;
    margin: 14px 10px 0 0;
  }

  &__red-line {
    min-width: 35px;
    margin: 10px 9px 0 0;
    height: 1px;
    display: block;
    background-color: $redClay;
  }

  .heading:first-child {
    margin-top: 28px;
  }

  $blockSidePaddings: 106px;

  &__steps-block {
    @include shadow(0, 0, 15);
    min-height: 791px;
    background-color: $white;
    margin: 32px 135px;
    border-radius: 20px;
    padding: 60px $blockSidePaddings 115px;
    box-sizing: border-box;
    position: relative;
    z-index: $ZSteps;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - #{$blockSidePaddings * 2});
    color: $redClay;


  }

  &__button-wrapper {
    display: flex;
    align-items: center;

    &--skip {
      color: $black !important;

      button {
        background-color: $black;
      }
    }

    &--disabled {
      color: $grey !important;
      opacity: 0.5;

      button {
        background-color: $grey;
      }
    }
  }

  &__bottom-button {
    cursor: pointer;
    border: none;
    height: 66px;
    width: 66px;
    background-color: $redClay;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    margin-right: 20px;

    &--next {
      margin: 0 0 0 20px;
      transform: rotate(180deg);
    }

    span {
      margin: 4px;

      &:before, &:after {
        content: '';
        display: block;
        border-radius: 50px;
        width: 3px;
        height: 15px;
        background-color: $white;
      }

      &:before {
        transform: rotate(40deg) translate(0px, 3px);
      }

      &:after {
        transform: rotate(-40deg) translate(0px, -3px);
      }
    }
  }
}