.stepper {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 640px;
  &__step-item {
    max-width: 128px;
    width: 100%;
    text-align: end;

    &--highlighted {
      .stepper__title {
        color: $black;
        font-weight: bold;
        opacity: 100%;
      }
      .stepper__dot {
        &:after {
          opacity: 100%;
          background-color: $redClay;
        }
        &:before {
          opacity: 100% !important;
          background-color: $redClay;
        }
      }
    }

    &--selected {
      .stepper__dot {
        &:after {
          box-shadow: 0px 0px 0px 5px rgba($poorScarlet, 0.37);
        }
      }

    }

    &:first-child {
      .stepper__dot {
        &:before {
          background-color: transparent !important;
        }
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    display: block;
    color: grey;
    position: relative;
    right: -15px;
    opacity: 50%;
  }

  &__dot {

    display: flex;
    align-items: center;
    &:after {
      content: '';
      display: inline-block;
      min-width: 17px;
      height: 17px;
      background-color: $grey;
      border-radius: 50%;
      opacity: 50%;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 2px;
      background-color: $grey;
      margin: 0 2px;
      width: calc(100% - 4px);
      opacity: 25%;
      border-radius: 30px;
    }


    

  }
}