.help {
  padding: 66px $mainSideMargins;

  &__heading {
    color: $darkGrey;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-weight: 400 !important;
  }

  &__table {
    border-color: rgba($grey, 0.5);
    th,td {
      text-align: center;
      background: $white !important;
      border: 1px solid rgba($grey, 0.5);
    }

    td {
      padding: 20px;
      border-bottom: none !important;
      border-top: none !important;
    }


  }

  &__table-cell {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &--first {
      max-width: 50px;
      span {
        font-weight: 600;
      }
    }

    &--second {
      span {
        color: $redClay;
      }
    }

    &--third{
      span {
        padding: 0 50px;

      }

      text-align: left !important;
    }
  }
}