<template>
  <header class="header">
    <router-link to="/search">
      <img src="@/assets/images/logo.png" alt="menu" class="header__logo">

    </router-link>
    <div class="header__right-settings">
      <router-link to="/history" class="header__history-link">
        <i></i>
        <span>
          Historyyyy
        </span>
      </router-link>
      <span class="header__divider"></span>
      <p class="header__user-name">
        <b>{{ userName }}</b>
        <span>
          XLPAT Labs from TTC
        </span>
      </p>
      <img src="https://avatanplus.com/files/resources/mid/574b20574a083154fd765507.png" alt="avatar" class="header__avatar">
      <b-dropdown variant="dark" class="header__user-dropdown">
        <template #button-content>
        </template>

          <button @click="logout">logout</button>

      </b-dropdown>
    </div>
  </header>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Header extends Vue {
  get userName() {
    return this.$store.state.user.userName
  }
  logout() {
    // @ts-ignore
    this.$keycloak.logout()
  }
}
</script>