<template>
  <footer class="footer">
    footer
  </footer>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Footer extends Vue {
}
</script>
