<template>
  <div>
    <p>history</p>
    <router-link to="/search">to search</router-link>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  components: {},
})
export default class history extends Vue {
}
</script>
