<template>
  <div class="common-select">
    <span class="common-select__label">{{label}}</span>
    <v-select :options="options" :value="value" @input="v => $emit('change', v)" :components="{OpenIndicator}"></v-select>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';
import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";

@Component({
  components: {
    vSelect
  },
})
export default class customSelect extends Vue {
  @Prop({default: ''}) private label: string | undefined
  @Prop() private options: any
  @Prop() private value: any

  OpenIndicator = {
    render: (createElement: any) => createElement('span', {class: {'custom-select__toggle': true}}),
  }
}
</script>