.common-select {
  position: relative;
  &__label {
    position: absolute;
    background-color: $white;
    left: 10px;
    top: -10px;
    z-index: 2;
    padding: 0 5px;
    display: block;
    color: rgba($grey, 0.2);
  }

  .custom-select__toggle {
    border: 6px solid $white;
    border-top: 10px solid $grey;
    transform: none !important;
  }

  .vs {
    &__dropdown-toggle {
      height: 60px;
      border-color: rgba($grey, 0.2) !important;
      border-radius: 10px !important;
    }
    &__dropdown-menu {
      width: 90%;
      margin-left: 5%;
      padding: 10px 40px;
      border-radius: 10px !important;
      overflow: hidden;
      overflow-y: scroll;
      box-shadow: 0px 10px 6px #00000015;
      top: calc(100% - 15px);
    }
    &__dropdown-option {
      padding: 10px 0;
      box-shadow: 0px 16px 0px -15px rgba(112, 112, 112, 0.2);
    }
    &__clear {
      display: none;
    }
  }
}