<template>
  <div id="app">
    <header-component></header-component>
    <main-component></main-component>
    <footer-component></footer-component>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import headerComponent from '@/components/header/header.vue'
import mainComponent from '@/components/containers/mainComponent.vue'
import footerComponent from '@/components/footer.vue'

@Component({
  components: {
    headerComponent,
    mainComponent,
    footerComponent
  },
})
export default class App extends Vue {
}
</script>

<style lang="scss">
@import "src/assets/styles/style.scss";
</style>