@mixin sameHoverActiveFocus {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin transition($n: 0.2) {
  transition: $n+s;
}

@mixin blockShadow() {
  box-shadow: 0px 0px 4px -2px $black;
}

@mixin flexible($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin shadow($x: 0, $y: 0, $blur: 5, $size: 0, $color: $shadowColor) {
  box-shadow: $x + px $y + px $blur + px $size + px $color;
}

@mixin borderRadius() {
  border-radius: 10px;
}

@mixin stableWidth($width) {
  width: $width;
  min-width: $width;
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin dropdownIcon {
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px;
}


@mixin scrollbars($foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
    width: 40px;
    height: 90%;
  }

/* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 0px 1px black;
    border-radius: 50px;
    border: 5px solid $grey;
    background-color: white;
    padding: 10px;
    margin: 20px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey;
    border: 6px solid $grey;
    border-bottom: none;
    border-top: none;
    box-shadow: inset 0px 0px 0px 5px $white;
    box-sizing: border-box;

    padding: 10px;
    margin: 10px;

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey;
  }
    // For Internet Explorer
  & {
    scrollbar-face-color: $grey;
    scrollbar-track-color: green;
  }
}
