// colors

$ponk: #F98282;
$redClay: #C43C39;
$poorScarlet: #E1352F;

$shadowColor: #00000029;

$white: #ffffff;
$firstNote: #D0D0D0;
$grey: #707070;
$bestMark: #5A5A5A;
$darkGrey: #383838;
$black: #060606;

// z-index

$Zheader: 4;
$Zmain: 1;
$Zfooter: 2;

$ZSteps: 3;

// font
$heading: bold 35px 'Poppins', sans-serif;
$title: bold 20px 'Poppins', sans-serif;
$text: 14px 'Poppins', sans-serif;
$textBold: bold $text;

// breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;