@import "~normalize.css/normalize.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import "variables";
@import "mixins";

$mainSideMargins: 135px;

@import "common";

@import "containers/header";
@import "containers/footer";

@import "containers/search";
@import "containers/help/help";


#app {
  height: 100vh;
  //border-top: 1px solid transparent;
  box-sizing: border-box;
  font: $text;
  color: $darkGrey;
  overflow-x: hidden;

  //@include scrollbars($foreground-color: black)
}

main {
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: -1px;
}

.heading {
  margin: 0;
  font: $heading;

  &--orange {
    color: $redClay;
  }
}

.orange {
  color: $redClay;
}

.title {
  font: $title;
}

.uncolor-dot {
  color: $black;
  &--red {
    color: $redClay;
  }
}

a {
  color: $redClay;

  &:hover {
    color: $redClay;
  }
}