$headerHeight: 112px;

.header {
  height: $headerHeight;
  z-index: $Zheader;
  position: relative;
  @include shadow(0, 3, 6);

  padding: 0 135px 0 115px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 256px;
    height: 119px;
  }

  &__right-settings {
    display: flex;
    align-items: center;
  }

  &__history-link {
    width: 145px;
    height: 45px;
    @include borderRadius;
    @include flexible();

    color: $grey;
    border: 2px solid $grey;

    i {
      width: 20px;
      display: inline-block;
      height: 20px;
      margin-right: 10px;
      background-image: url('assets/images/history.svg');
    }
  }

  &__divider {
    height: 50px;
    width: 1px;
    background-color: $grey;
    margin: 0 50px;
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $grey;
    margin: 0;
  }

  &__avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #ccc;
    margin: 0 25px;
  }

  &__user-dropdown {
    position: relative;
    width: 15px;
    .dropdown-toggle {
      cursor: pointer;

      background-color: transparent !important;
      border: none !important;
      @include sameHoverActiveFocus {
        background-color: transparent !important;
        border: none !important;
      }
      transform: rotate(-90deg);

      &:before, &:after {
        border: none;
        content: '';
        display: block;
        border-radius: 50px;
        width: 3px;
        height: 15px;
        background-color: $grey;
      }

      &:before {
        transform: rotate(40deg) translate(0px, 3px);
      }

      &:after {
        transform: rotate(-40deg) translate(0px, -3px);
      }
    }

    .dropdown-menu {
      width: 139px;
      height: 50px;
      padding: 0;
      @include borderRadius();
      @include shadow();
      border: none;
      display: none;
      //z-index: 100000;
      background-color: $white;
      position: absolute;

      &.show {
        transform: translate3d(-40%, 60px, 0px) !important;
        display: block;
      }

      button {
        width: 100%;
        height: 100%;
        border:none;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
}